.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  max-height: 200px;
}
.tt-hint {
  color: #000;
}
.tt-cursor {
  background-color: #008CBA;
}

.tt-suggestion {
  padding: 5px;
  color: lightgray;

  &:hover {
    background-color: #008CBA;
  }
}
